.experience-block {
    background-color: #edf2f4;
    margin: 10px;
    padding: 1%;
    opacity: 80%;
    border-radius: 10px;
}

.experience-block>h1 {
    font-family: "Warnes";
    color: red;
    text-shadow: 4px 4px 10px rgba(255, 0, 0, 0.5);
    font-size: 30px;
}