body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Dhurjati";
  src: local('Dhurjati'),
    url('../../portfolio-ui/src/Fonts/Dhurjati/Dhurjati-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Warnes";
  src: local('Warnes'),
    url('../../portfolio-ui/src/Fonts/Warnes/Warnes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Rajdhani";
  src: local('Rajdhani'),
    url('../../portfolio-ui/src/Fonts/Rajdhani/Rajdhani-Regular.ttf') format('truetype');
}