.user-nav {
    width: 100%;
    z-index: 4;
    position: fixed;
    height: auto;
    font-family: "Dhurjati";
    background-color: azure;
}

.navbar-name {
    font-size: 25px;
    font-weight: 100;
}

.item-nav {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 22px;
}

.item-nav:hover {
    cursor: 'url(portfolio-ui/src/Images/rocket.png),auto';
}

.the-nav {
    flex-direction: row;
}